*{
    padding: 0;
    margin: 0;
}

html,body{
    height: 100%;
}

body::-webkit-scrollbar { 
    display: none; 
}

.bodys{
    height: 92%;
}

.head{
    width: 100%;
    height: 8%;
    background-color: rgb(243,242,238);
}

.title{
    height: 100%;
}

.title h1{
    width: 200px;
    height: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
} 

.return a{
    width: 50px;
    height: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    margin-right: 50px;
    color: rgb(97, 94, 94);
    float: right;
}

iframe{
    width: 85%;
    height: 100%;
    float: left;
}

@media screen and (max-width: 600px){
    iframe{
        width: 100%;
        height: 100%;
        float: left;
    }

}

