.nav-list{
    overflow: hidden;
}

.nav-list h2{
    position: relative;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    background-color:rgb(180, 180, 180);
    margin-top: 0px;
    border-bottom-style: solid;
    border-bottom-color: rgb(212, 212, 212);
    color: white;
}
.nav-list i{
    position: absolute;
    right: 5px;
    border: 10px solid transparent;
    border-left-color:white;
    transform-origin: 25% center;
}
a{
    text-decoration: none;
}
.hide{
    height: 0;
    transition: 0.5s;
}
.hide h5{
    height: 50px;
    line-height: 50px;
    background-color:rgb(207, 207, 207);
    border-bottom: 2px solid white;
    text-align: center;
    font-size: 13px;
    color: black;
}

.hide h5:hover{
    background-color:rgb(128, 128, 128);
    color: white;
}

@media screen and (min-width: 1000px){

    .nav{
        width: 18%;
        height: 92%;
        float: left;
        overflow-y: scroll;
    }
    
    .nav::-webkit-scrollbar { 
    display: none; 
    }

}


@media screen and (max-width: 1000px){
    .subjects{
        margin-left: 0;
        margin-top: 5px;
        width: 100%;
        float: left;
    }

    .nav{
        margin-top: 5px;
        width: 100%;
    }
}

@media screen and (max-width: 600px){

    .nav{
        width: 100%;
    }
}