.nav{
    width: 15%;
    height: 100%;
    float: left;
    overflow-y: scroll;
}

.nav::-webkit-scrollbar { 
    display: none; 
}

.nav-list{
    overflow: hidden;
}
.nav-list h2{
    position: relative;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    background-color:rgb(153, 153, 153);
    margin-top: 0px;
    border-top-style: solid;
    border-top-color: rgb(173, 173, 173);
    color: white;
}
.nav-list i{
    position: absolute;
    right: 5px;
    border: 10px solid transparent;
    border-left-color:white;
    transform-origin: 25% center;
}
a{
    text-decoration: none;
}
.hide{
    height: 0;
    transition: 0.5s;
}
.hide h5{
    height: 50px;
    line-height: 50px;
    background-color:rgb(173, 173, 173);
    border-bottom: 2px solid white;
    text-align: center;
    font-size: 12px;
    color: white;
}
.hide h5:hover{
    background-color:rgb(128, 128, 128);
}

@media screen and (max-width: 600px){
    .subjects{
        margin-left: 0;
        margin-top: 5px;
        width: 100%;
        float: left;
    }

    .nav{
        width: 100%;
        height: 100%;
        float: left;
    }
}